<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-bottom">
  <div class="container-fluid">
  <a href="<%= root_path %>">
    <i class="fa-solid fa-house fa-lg" style="color: #ffffff"></i>
  </a>
    <a href="<%= search_path %>">
    <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff"></i>
  </a>
  <a href="<%= dashboard_path %>">
     <i class="fa-solid fa-calendar-plus fa-lg" style="color: #ffffff;"></i>
  </a>
  <a href="<%= profile_path %>">
  <i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i>
   </a>
  </div>
</div>
