.navbar-lewagon {
  justify-content: space-between;
  background: black;
  height: 50px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 4px;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
